* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

body {
    background-color: #282B28;
    margin: auto;
    padding: auto;
    text-align: center;

}

h1 {
    font-size: 250%;
    text-shadow: #FFFFFF 2px 0px 21px;
    padding: 20px;
    margin-top: 80px;
}

h2 {
    padding: 20px;    
}

#countdown {
    position: absolute;
    font-size: 125%;
    padding: 15px;
    top: 0;
    right: 0;
    color: #D36135;
    
}

div button {
    margin: 4px;
    padding: 5px;
    border-width: 1.5px;
    border-radius: 5px;
    background-color: #D36135;
    color: #FFFFFF;
}

div button:hover {
    cursor: pointer;
}

p {
    padding: 40px;
}

.btn {
    background: #3E5641;
    border-color: #4C5454;
    color: #FFFFFF;
    font-size: 20px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}

.btn:hover {
    cursor: pointer;
}